*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    user-select: none;
}

:root {
    --button-color: orange;
    --button-shadow: 1px 1px 3px 1px darkorange;
    --button-text: clamp(0.5rem, 3vmin, 2rem);
}

.background {
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    overflow: hidden;
}

@media (orientation: portrait) {
    .background {
        position: absolute;
        height: calc(100vw * 0.6);
        top: 50%;
        transform: translateY(-50%);
    }
}

.topic-button-box {
    height: 15%;
    overflow: hidden;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.topic-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(27,10%);
    gap: 10px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 10px;
}
.topic-grid::-webkit-scrollbar {
    display: none;
}


.topic-button {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: var(--button-color);
    box-shadow: var(--button-shadow);
    font-size: var(--button-text);
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-bar-outer {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.control-button {
    height: 60%;
    width: 15%;
    border-radius: 10px;
    background-color: var(--button-color);
    box-shadow: var(--button-shadow);
    font-size: var(--button-text);
    display: flex;
    justify-content: center;
    align-items: center;
}
.green-control-button {
    height: 60%;
    width: 15%;
    border-radius: 10px;
    background-color: green;
    box-shadow: 1px 1px 3px 1px darkgreen;
    font-size: var(--button-text);
    display: flex;
    justify-content: center;
    align-items: center;
}
.change-button-box {
    margin: 0 auto;
    width: 90%;
    height: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.change-button {
    width: 25%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    color: black;
    box-shadow: 1px 1px 3px 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--button-text);
}
.image-display-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-display-button {
    width: 10%;
    height: 15%;
    border-radius: 10px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-display-main {
    width: 70%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px 3px white;
    background-color: lightblue;
}
#display {
    width: auto;
    max-width: 100%;
}